.App {
  text-align: center;
}
.list{
  display:inline;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.btn{
  border: 1px solid black;
  border-radius: 5px;
  margin: 8px;
  padding:5px;
}